.padre{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;
}
.hijo{
    background-color: blue;
}

.socials.flotante {
    position: fixed;
    bottom: 75px;
    right: 5px;
    font-size: 35px;
    background-image: url("http://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png");
    color: white;
    height: 100px;
    width: 100px;
    font-weight: 300;
    line-height: 0;
    z-index: 4;
    padding: 0;
    margin: 0 -2px 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease-in-out 0.3s;
}