.registerEncabezado{
    height: 35vh;
    display: flex;
    align-items : center;
    justify-content: center;
    background-color: rgb(184, 223, 224);
    font-family:"Raleway",Verdana;
}

.registerMain{
    height: 65vh;
    background-color: rgb(67, 120, 155);
    font-family:"Raleway",Verdana;
}

.datosUsuario{
    display: grid;
    grid-template-rows: repeat(3,70px);
    grid-template-columns: 2fr 4fr 2fr;
    height: 210px;   
}

.ingresoUser{
    grid-row: 1;
    grid-column: 2;
    justify-content: right;
    align-items: center;
}

.ingresoPass{
    grid-row: 2;
    grid-column: 2;
    justify-content: right;
    align-items: center;
}

.botonRegistro{
    grid-row: 3;
    grid-column: 2;
    align-content: center;
}

.desktop.socials.flotante {
    position: fixed;
    bottom: 75px;
    right: 5px;
    font-size: 35px;
    background-image: url("http://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png");
    color: white;
    height: 100px;
    width: 100px;
    font-weight: 300;
    line-height: 0;
    z-index: 4;
    padding: 0;
    margin: 0 -2px 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease-in-out 0.3s;
}

.movil.socials.flotante {
    position: fixed;
    bottom: 75px;
    right: 5px;
    font-size: 35px;
    background-image: url("http://assets.stickpng.com/images/580b57fcd9996e24bc43c543.png");
    color: white;
    height: 55px;
    width: 55px;
    font-weight: 300;
    line-height: 0;
    z-index: 4;
    padding: 0;
    margin: 0 -2px 0 0;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.7s ease-in-out 0.3s;
}


.card {
  margin: 10px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.top{
    background: #005bb3 repeat scroll 0 0;
    bottom: 3px;
    cursor: pointer;
    height: 40px;
    letter-spacing: 0.05em;
    position: fixed;
    right: 3px;
    transition: all 0.7s cubic-bezier(0.54, -0.65, 0.13, 1.73) 0.3s;
    width: 40px;
    z-index: 4;
    border-radius: 50px;
}

.desktop{

}

.movil{
    
}

@media (max-width: 767px) {
    .desktop{
        display: none;
    }
}

@media(min-width: 768px){
    .movil{
        display: none;
    }
}
  